/* very basic style. Please customize! */

.femoral_wrapper {
	width:900px;
	border: 1px solid black;
	margin:auto;
	margin-top:25px;
}

.femoral_wrapper nav {
	border-bottom: 1px solid black;
	padding: 25px;
}

.femoral_wrapper .content {
	padding: 25px;
}

.retina{
  display: none;
  width:600px;
}

.article_textarea {
	width:100%;
	height:350px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .noretina { display: none; }
    .retina { display: block; }
}
